body {
    background-color: tan;
}
.A {
    border:solid black 5px;
    background-color: purple;

}
.A>div {
    display: inline;
    border:solid white 2px;
    background-color: aqua;
    
}
.B {
    border:solid black 5px;
    background-color: blueviolet;
}
.B>div {
    display: inline-block;
    border: solid white 2px;
    background-color: brown;
}
.C {
    border:solid black 5px;
    background-color: purple;
}
.C>div {
    display: block;
    border: solid violet 2px;
    background-color: olive;
}
.D {
    border:solid black 5px;
    background-color: purple;
}
.D {
    display: flex;
    height:2cm ;
    width: 5cm;
    flex-direction: row-reverse;
    border: solid violet 2px;
    background-color: olive;
}